foo: test-foo
bar: test-bar

# some header

This is some **markdown** text, ended by two empty lines.

